.container {
    display: grid;
    grid-template-columns:repeat(4, 25%);
    grid-template-rows: repeat(3, 100px);
    margin: 20px auto;
    width: 80%;
    grid-template-areas:
    "menu cab cab cab"
    "menu main main main"
    "menu main main main";
    ;
    }
    .container > div {
    border: 2px solid black;
    }
    #menu
    {
        background-color:blue;
        color:blue;
        grid-area:menu;
    
    }
    #main
    {
        background-color:pink;
        color:pink;
        grid-area: main;
    }
    #cab
    {
        background-color:yellow;
        color:yellow;
        grid-area: cab;
    }
    